.main-cursos {
  display: flex;
  flex-direction: column;
}
.cursos {
  display: flex;
}
.modal2 {
  align-items: center;
  align-content: center;
  margin-top: 150px;
  margin-left: 40%;
}
.modal2 button {
  border-radius: 15px;
  height: 50px;
  width: 80px;
  background-color: lawngreen;
  color: blueviolet;
}
