.container {
  margin-top: 0px;
  display: flex;
  flex-flow: column;
  background-color: #00000066;
  width: 100px;
  height: 100px;
}
.header-about {
  display: flex;
  flex-flow: column;
  width: 100%;
  text-align: center;
}

.photo-info {
  box-shadow: 10px 10px 10px 0px black;
  margin-top: 30px;
  display: flex;
  flex-flow: row;
}
.photo {
  width: auto;
  align-items: center;
  align-content: center;
}
.about-me {
  font-size: 16px;
  margin-left: 25px;
  display: flex;
  flex-flow: column;
  width: auto;
  align-items: center;
  align-content: center;
}

.photo-info img {
  width: 40%;
  height: 40%;
}

.projetos {
  margin-top: 10px;
  font-size: 35px;
}
.btn-highlighted-btn {
  background-color: coral;

  color: cornsilk;
  border-radius: 50px;
  border: 5px;
  border-color: floralwhite;
  margin-top: 30px;
  width: auto;
  height: 30px;
  font-size: 20px;
  margin: 10px;
}
.array-projetos a {
  text-decoration: none;
  text-decoration-line: none;
}

.subtitle-projetos {
  font-size: 16px;
}
