.historicos-main {
  background-color: rgb(54, 97, 161);
  /* margin-top: -50px; */
  height: 550px;
  width: 100%;
  display: flex;
  flex-flow: row;
}
.historico-container {
  display: flex;
  flex-direction: row;
}
.historico-menu button {
  align-items: center;
  align-content: center;
  padding: 1px;
  border-radius: 10px;
  margin: 10px;
  width: 180px;
  margin-top: 30px;
  background-color: cornflowerblue;
  color: #ffffff99;
  margin-left: 50px;
}
.historico-menu {

  display: flex;
  flex-direction: column;
  background-color: rgb(54, 97, 161);
  width: 300px;
  height: 584px;
  align-items: center;
  align-content: center;
}
