.historicos-main {
  background-color: blueviolet;
  /* margin-top: -50px; */
  height: 550px;
  width: 100%px;
  display: flex;
  flex-flow: row;
}
.historico-container {
  display: flex;
  flex-direction: row;
}
.historico-menu button {
  align-items: center;
  align-content: center;
  padding: 1px;
  border-radius: 10px;
  margin: 10px;
  width: 180px;
  margin-top: 30px;
  background-color: cornflowerblue;
  color: #ffffff99;
}
.historico-menu {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  background-color: rgb(54, 97, 161);
  width: 30vh;
  height: 70vh;
  align-items: center;
  align-content: center;
}
